/*==================================
        ROMPECABEZAS
==================================*/

#seccionPuzzle{

    display:none;

    text-align:center;

    padding:30px;

}

#puzzle{

    width:450px;
    height:450px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);

    gap:2px;

    background:#111;

    border:4px solid white;

    border-radius:15px;

    overflow:hidden;

}

.pieza{

    width:100%;
    height:100%;

    background-image:url("puzzle.png");

    background-size:450px 450px;

    cursor:pointer;

    border:1px solid rgba(255,255,255,.15);

transition:
background-position .30s ease,
transform .20s ease,
box-shadow .20s ease;

}

.pieza:hover{

    transform:scale(.98);

    filter:brightness(1.2);
    .pieza:active{

    transform:scale(.95);

}
.pieza:hover{

    box-shadow:0 0 12px cyan;

}
}

#btnVolverPuzzle{

    margin-top:20px;

}

@media(max-width:600px){

    #puzzle{

        width:300px;
        height:300px;

    }

    .pieza{

        background-size:300px 300px;

    }

}